* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    list-style-type: none;
    text-decoration: none;
}

ul {
    padding: 0px;
    margin: 0px;
}

:root {
    --fonte-padrao: "Special Elite", sans-serif;;
    --fonte-texto: "Poppins", sans-serif;
}



.special-elite-regular {
  font-family: "Special Elite", system-ui;
  font-weight: 400;
  font-style: normal;
}


